@use './base/variables' as *;
@use './base/mixins';
@use './base/utilities';
@use './base/typography';
@use './base/style-reset';
@use './base/style-base';
header {
    padding: 20px;
    h1 {
        color: #222;
        font-size: 1.75rem;
        font-weight: 700;
    }
}
footer {
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    h2 {
        margin: 0 0 10px;
        color: #666;
        font-size: 1.25rem;
        font-weight: 500;
    }
}
// 게시판 목록 위 기능
.board-function {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    .block-left,
    .block-right {
        display: flex;
        flex: 0 0 50%;
    }
    .block-right {
        justify-content: flex-end;
    }
}
// 게시판 목록
table {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    border-spacing: 0;
    caption {
        @extend %visually-hidden;
    }
    th,
    td {
        vertical-align: middle;
    }
    &.board-list {
        th {
            border-top: 1px solid #aaa;
        }
        td {
            border-top: 1px solid #e1e3e5;
        }
        thead {
            th {
                padding: 15px 10px;
                background: #f5f7f9;
            }
        }
        tbody {
            text-align: center;
            td {
                padding: 10px;
                vertical-align: middle;
            }
        }
    }
}
// 게시물 보기, 작성, 수정 페이지 본문영역 위 게시물 기능
.post-function {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    .block-left,
    .block-right {
        flex: 0 0 50%;
        display: flex;
    }
    .block-left {
        justify-content: flex-start;
    }
    .block-right {
        justify-content: flex-end;
    }
}
// 게시물 보기, 작성, 수정. .post-what 클래스명 수정 예정..
.post-what {
    display: block;
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    &.view {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        > li {
            padding: 15px 10px;
        }
        strong {
            @extend %visually-hidden;
        }
        .title,
        .content,
        .attachment {
            flex: 0 0 100%;
        }
        > li.title {
            padding: 30px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            font-size: 20px;
            text-align: center;
        }
        .content {
            padding: 25px 25%;
            border-top: 1px solid #999;
            font-size: 16px;
            letter-spacing: -0.0625rem;
            line-height: 2rem;
        }
        .attachment {
            padding: 20px;
            background: rgba(0, 0, 0, 0.05);
            .file-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a {
                    margin: 0 5px;
                    padding: 5px;
                }
            }
        }
    }
    &.editor {
        > li {
            padding: 15px 10px;
            border-top: 1px solid #d5d5d5;
            &:first-child {
                border-top: none;
            }
            .form-label {
                display: block;
                margin:0 0 5px;
            }
        }
        .attachment {
            .form-attachment {
                .form-element {
                    + .form-element {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 3px 0 0;
                    }
                }
            }
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 0 3px;
        border: none;
        &.current-page {
            span {
                display: block;
                border-bottom: 1px solid #919395;
            }
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 0 3px;
        &.page-arrow {
            width: 24px;
            height: 24px;
            background: #f1f3f5;
            border-radius: 3px;
            span {
                @extend %visually-hidden;
            }
            &.prev {
                margin: 0 13px 0 3px;
            }
            &.next {
                margin: 0 3px 0 13px;
            }
        }
    }
}
.handle-button {
    display: inline-block;
    padding: 3px 10px;
    background: #f1f3f5;
    border: none;
    border-radius: 5px;
    + .handle-button {
        margin: 0 0 0 10px;
    }
}
.handle-anchor {
    display: inline-block;
    padding: 5px 10px;
    background: #f1f3f5;
    border-radius: 3px;
    + .handle-anchor {
        margin: 0 0 0 10px;
    }
    &.list {
        background: #111;
        color: #fff;
    }
    &.edit {
        background: $color-primary;
        color: #fff;
    }
    &.delete {
        background: $color-point;
        color: #fff;
    }
}
.board-post-navigation {
    display: flex;
    align-items: center;
    padding: 10px;
    .previous,
    .next {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        padding: 10px 20px;
    }
    .previous {
        justify-content: flex-end;
    }
    .next {
        justify-content: flex-start;
    }
}
.post-actions {
    display: flex;
    align-items: center;
    .block-left,
    .block-right {
        display: flex;
        flex: 0 0 50%;
    }
    .block-left {
        justify-content: flex-start;
    }
    .block-right {
        justify-content: flex-end;
    }
}
.form-element {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #c9c9c9;
    border-radius: 12px;
    &.custom-input-date {
        width: 170px;
    }
    &.custom-input-file {
        width: 100%;
    }
    .input-text {
        width: 100%;
    }
    .textarea {
        width: 100%;
        min-height: 150px;
    }
    .date-picker {
        display: flex;
        align-items: center;
        position: relative;
        width: 150px;
        input[type="text"] {
            display: block;
            width: 25px;
            margin: 0 0 0 5px;
            text-align: right;
            &.year {
                width: 40px;
                margin: 0;
            }
        }
        .handle-calendar-open {
            flex: 0 0 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 10px;
            cursor: pointer;
            span {
                @extend %visually-hidden;
            }
        }
        .calendar-panel {
            position: absolute;
            top: 20px;
            left: -11px;
            width: 200px;
            height: 250px;
            background: #fff;
            @extend %visual-RoundShadow;
            font-size: 12px;
            opacity: 0;
            @extend %animation-visibility-hidden;
            &.is-open {
                @extend %animation-visibility-visible;
            }
        }
        .calendar-panel-header {
            display: flex;
            align-items: center;
            padding: 10px;
            .header-left,
            .header-right {
                flex: 0 0 50%;
            }
            .header-right {
                display: flex;
                justify-content: flex-end;
            }
            .handle-months-open {
                display: flex;
                align-items: center;
                span {
                    @extend %visually-hidden;
                }
                svg {
                    margin:0 0 0 3px;
                }
            }
            .handle-month {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                span {
                    @extend %visually-hidden;
                }
            }
        }
        .calendar-panel-footer {
            display: flex;
            align-items: center;
            padding: 10px;
            .footer-left,
            .footer-right {
                flex: 0 0 50%;
            }
            .footer-right {
                display: flex;
                justify-content: flex-end;
            }
            button {
                padding: 5px 10px;
            }
        }
        .calendar-panel-body {
            position:relative;
            height: 160px;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.025);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
            .calendar-days {

                position: absolute;
                top: 50%;
                left: 0;
                padding: 0 10px;
                transform: translateY(-50%);
                &.is-close {
                    @extend %animation-visibility-hidden;
                }
                .weekly {
                    flex: 0 0 100%;
                    display: flex;
                    li {
                        flex: 0 0 calc(100% / 7);
                        padding: 2px 0;
                        text-align: center;
                    }
                }
                .daily {
                    flex: 0 0 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    li {
                        flex: 0 0 calc(100% / 7);
                        padding: 2px 0;
                        text-align: right;
                        &.is-sun {
                            button {
                                color:$color-point;
                            }
                        }
                        &.is-sat {
                            button {
                                color:$color-primary;
                            }
                        }
                        &.is-today {
                            button {
                                border-bottom: 1px solid #0d6dca;
                            }
                        }
                        &.is-selected {
                            button {
                                background: #00b79e;
                                color: #fff;
                            }
                        }
                    }
                    button {
                        display: block;
                        width: calc(100% - 5px);
                        margin: 0 5px 0 0;
                        padding: 2px;
                        text-align: right;
                    }
                }
            }
            .calendar-months {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                overscroll-behavior: none;// 영역안에서 스크롤이 끝났을때 오버스크롤하면 부모 요소로 scroll chaining 되는 현상을 방지해줌.
                padding: 0 0 0 10px;
                @extend %animation-visibility-hidden;
                &.is-open {
                    @extend %animation-visibility-visible;
                }
                button {
                    display: block;
                    width: 100%;
                    padding: 3px;
                    text-align: center;
                }
                .list-year {
                    width: 100%;
                    > li {
                        width: 100%;
                    }
                    .handle-year {
                        padding: 5px;
                        background: #f1f3f5;
                        border-bottom: 1px solid #d1d3d5;
                    }
                }
                .list-month {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    height: 0;
                    overflow: hidden;
                    transition: height .3s ease-in-out;
                    li {
                        flex: 0 0 calc(100% / 4);
                        &.is-selected {
                            button {
                                background: #00b79e;
                                color: #fff;
                            }
                        }
                    }
                    button {
                        background: #fff;
                    }
                }
                .is-active {
                    .list-month {
                        height: 60px;
                    }
                }
            }
        }
    }
    .file-picker {
        display: flex;
        align-items: stretch;
        .file-dropzone {
            flex: 0 0 46%;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            position:relative;
            text-align: center;
            .file-dropzone-comment {
                flex: 0 0 100%;
                margin:0 0 5px;
            }
            .file-dropzone-pick {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                input[type="file"] {
                    display: none;
                }
            }
            .file-dropzone-pick-comment {
                flex: 0 0 100%;
            }
        }
        .file-queue {
            flex: 0 0 calc(34% - 20px);
            width: calc(34% - 20px);
            max-height: 160px;
            overflow: hidden;
            overflow-y: scroll;
            margin: 0 10px;
            padding: 5px 10px;
            background: #fff;
            border-radius: 10px;
            .file-queue-item {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 5px 0;
                em {
                    font-style: normal;
                }
                .name {
                    display: flex;
                    flex: 0 0 calc(85% - 25px);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    .file-name {
                        display: block;
                        flex: 0 0 calc(100% - 50px);
                        width: calc(100% - 50px);
                        overflow: hidden;
                        text-align: right;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .extension {
                        display: block;
                        flex: 0 0 50px;
                        width: 50px;
                    }
                }
                .meta {
                    display: block;
                    flex: 0 0 15%;
                }
                .file-item-remove {
                    display: block;
                    flex: 0 0 20px;
                    height: 20px;
                    margin: 0 0 0 5px;
                    span {
                        @extend %visually-hidden;
                    }
                }
            }
        }
        .file-actions {
            flex: 0 0 20%;
            display: flex;
            align-items: stretch;
            justify-content: center;
            button {
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    display: block;
                    margin:0 0 0 5px;
                    fill: #fff;
                }
            }
            .submit {
                background: $color-primary;
                border-radius:10px 0 0 10px;
                color: #fff;
            }
            .cancel {
                background: $color-muted;
                border-radius:0 10px 10px 0;
                color: #fff;
            }
        }
    }
}
