@use './base/variables' as *;
@use './base/mixins';
@use './base/utilities';
@use './base/typography';
@use './base/style-reset';
@use './base/style-base';
header {
    padding: 20px;
    h1 {
        color: #222;
        font-size: 1.75rem;
        font-weight: 700;
    }
    h2 {
        color: #666;
        font-size: 1.25rem;
        font-weight: 500;
    }
    h1 + h2 {
        margin: 10px 0 0;
    }
}
footer {
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
// 게시판 목록 위 기능
.board-function {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    .block-left,
    .block-right {
        display: flex;
        flex: 0 0 50%;
    }
    .block-right {
        justify-content: flex-end;
    }
}
// 게시판 목록
table {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    border-spacing: 0;
    caption {
        @extend %visually-hidden;
    }
    th,
    td {
        vertical-align: middle;
    }
    &.board-list {
        th {
            border-top: 1px solid #aaa;
        }
        td {
            border-top: 1px solid #e1e3e5;
        }
        thead {
            th {
                padding: 15px 10px;
                background: #f5f7f9;
            }
        }
        tbody {
            text-align: center;
            td {
                padding: 10px;
                vertical-align: middle;
            }
        }
    }
}
// 게시물 보기, 작성, 수정 페이지 본문영역 위 게시물 기능
.post-function {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    .block-left,
    .block-right {
        flex: 0 0 50%;
        display: flex;
    }
    .block-left {
        justify-content: flex-start;
    }
    .block-right {
        justify-content: flex-end;
    }
}
// 게시물 보기, 작성, 수정. .post-what 클래스명 수정 예정..
.post-what {
    display: block;
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    &.view {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        li {
            padding: 15px 10px;
        }
        strong {
            @extend %visually-hidden;
        }
        .title,
        .content,
        .attachment {
            flex: 0 0 100%;
        }
        .title {
            padding: 30px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            font-size: 20px;
            text-align: center;
        }
        .content {
            padding: 25px 25%;
            border-top: 1px solid #999;
            font-size: 16px;
            letter-spacing: -0.0625rem;
            line-height: 2rem;
        }
        .attachment {
            padding: 20px;
            background: rgba(0, 0, 0, 0.05);
            .file-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a {
                    margin: 0 5px;
                    padding: 5px;
                }
            }
        }
    }
    &.editor {
        li {
            padding: 15px 10px;
            border-top: 1px solid #d5d5d5;
            &:first-child {
                border-top: none;
            }
            strong {
                display: block;
                margin:0 0 5px;
            }
        }
        .attachment {
            .form-attachment {
                .form-element {
                    + .form-element {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 3px 0 0;
                    }
                }
            }
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 0 3px;
        border: none;
        &.current-page {
            span {
                display: block;
                border-bottom: 1px solid #919395;
            }
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 0 3px;
        &.page-arrow {
            width: 24px;
            height: 24px;
            background: #f1f3f5;
            border-radius: 3px;
            span {
                @extend %visually-hidden;
            }
            &.prev {
                margin: 0 13px 0 3px;
            }
            &.next {
                margin: 0 3px 0 13px;
            }
        }
    }
}
.handle-button {
    display: inline-block;
    padding: 3px 10px;
    background: #f1f3f5;
    border: none;
    border-radius: 5px;
    + .handle-button {
        margin: 0 0 0 10px;
    }
}
.handle-anchor {
    display: inline-block;
    padding: 5px 10px;
    background: #f1f3f5;
    border-radius: 3px;
    + .handle-anchor {
        margin: 0 0 0 10px;
    }
    &.list {
        background: #111;
        color: #fff;
    }
    &.edit {
        background: $color-primary;
        color: #fff;
    }
    &.delete {
        background: $color-point;
        color: #fff;
    }
}
.board-post-navigation {
    display: flex;
    align-items: center;
    padding: 10px;
    .previous,
    .next {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        padding: 10px 20px;
    }
    .previous {
        justify-content: flex-end;
    }
    .next {
        justify-content: flex-start;
    }
}
.post-actions {
    display: flex;
    align-items: center;
    .block-left,
    .block-right {
        display: flex;
        flex: 0 0 50%;
    }
    .block-left {
        justify-content: flex-start;
    }
    .block-right {
        justify-content: flex-end;
    }
}
.form-element {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #c9c9c9;
    border-radius: 12px;
    &.custom-input-date {
        width: 170px;
    }
    .input-text {
        width: 100%;
    }
    .textarea {
        width: 100%;
        min-height: 150px;
    }
    .date-picker {
        display: flex;
        align-items: center;
        position: relative;
        width: 150px;
        input[type="text"] {
            display: block;
            width: 25px;
            margin: 0 0 0 5px;
            text-align: right;
            &.year {
                width: 40px;
                margin: 0;
            }
        }
        .handle-calendar-open {
            flex: 0 0 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 10px;
            cursor: pointer;
            span {
                @extend %visually-hidden;
            }
        }
        .calendar-pannel {
            display: block;
            position: absolute;
            top: 20px;
            left: -11px;
            z-index: 1;
            width: 200px;
            height: 250px;
            background: #fff;
            @extend %visual-RoundShadow;
        }
    }
}
