// 스타일 함수 선언
%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
%focus-outline {
    outline: 1px dashed #0d6dca;
    border-radius: 5px;
}
%visual-RoundShadow {
    border: 1px solid #efefef;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}